<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            DRSimulations
        </title>
        <style>
            .btn {
            /* border: none; */
            background-color: inherit;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
            }

            .btn:hover {background: #eee;}
            .luck {color: green;}
        </style>
        <script>
        </script>
    </head>
    <body>
        {% block main %}{% endblock %}
        <footer>
            <h5>designed and copyrighted by ZTaylor.</h5>
            <h5>The source code is available at 
            <a href="github.com/zebadiahtaylor/dice_roll_simulations">
                github.com/zebadiahtaylor/dice_roll_simulations</a></h5>
        </footer>
    </body>
</html>