<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css" />
        <title>
            DRSimulations
        </title>
    </head>
    <body>
        {% block main %}{% endblock %}
        <footer>
            <h5>designed and copyrighted by ZTaylor.</h5>
            <h5>The source code is available at 
            <a href="github.com/zebadiahtaylor/dice_roll_simulations">
                my github account</a></h5>
        </footer>
    </body>
</html>